<app-dispatch-nav></app-dispatch-nav>


<div class="container-fluid">

    <div id="page-wrapper" style="padding-top:100px">

      <div *ngIf="showIfSample">
        <mat-card style="margin: 0px 0px 10px 0px; background: #029999e8;color: white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;">
          <h4>{{information}}</h4>
        </mat-card>
        <mat-card>
          <div class="row" style="text-align:center">
            <div class="col-sm-6">
              <mat-form-field class="date-full-width">
                <input [(ngModel)]="dateFrom" matInput [matDatepicker]="from" placeholder="Search From"
                  #searchFrom="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker touchUi #from></mat-datepicker>
                <mat-error *ngIf="searchFrom.errors && searchFrom.errors.required">Please choose date to search from
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="date-full-width">
                <input [(ngModel)]="dateTo" matInput [matDatepicker]="to" placeholder="Search To" #searchTo="ngModel"
                  required>
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker touchUi #to></mat-datepicker>
                <mat-error *ngIf="searchTo.errors && searchTo.errors.required">Please choose date to search to
                </mat-error>
              </mat-form-field>
            </div>
          </div>

         <div class="row" style="text-align:center">
            <div class="col-sm-6">
              <br>
              <button (click)="searchDates(dateFrom,dateTo)" [disabled]="searchFrom.errors || searchTo.errors"
              color="accent" mat-raised-button>
              <mat-icon>search</mat-icon> Search Previous Orders
            </button>
            </div>
          
            <div class="col-sm-6">
              <br>
              <button *ngIf="showAllSamplesBtn" (click)="getSamplesReqToday()" color="accent"
            mat-raised-button>
            <mat-icon>calendar_today</mat-icon> Today's Orders
          </button>
            </div>
          </div>
        </mat-card>

        <mat-accordion *ngFor="let sample of reqSamples let i = index; trackBy: trackByMethod" style="margin:5px">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            style="background:rgb(67, 231, 204)">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: rgb(0, 0, 70); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <strong>{{i+1 }}.&nbsp;&nbsp; {{ sample.username}} </strong>
              </mat-panel-title>
              <mat-panel-description style="color: rgb(0, 0, 70); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <strong>{{checkOrderStatus(sample)}} </strong>               
              </mat-panel-description>
              <mat-panel-description style="color: rgb(0, 0, 70); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <strong>{{checkPaymentStatus(sample)}}</strong>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card style="background:rgb(153, 216, 235);">
              <mat-card style="margin-bottom: 10px; background: rgb(228, 223, 223); color: rgb(0, 0, 70);
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;">
               <div class="table-responsive">
                 <table class="table table-hover">
                  <thead>
                    <tr>
                      
                      <th scope="col">Customer's Username</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Shipping Address</th>
                      <th scope="col">Date</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{sample.username}}</td>
                      <td>{{sample.phoneNumber}}</td>
                      <td>{{sample.address}}</td>
                      <td>{{sample.dateOfRequest | date: 'fullDate'}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
               </div>
              </mat-card>

              <div class="orders">
                
                <mat-card>

                  <div class="row table-responsive">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngIf="sample.fragrances.length !== 1"></th>
                                    <th class="table-head">Fragrance Name</th>
                                    <th class="table-head">Size</th>
                                    <th class="table-head">Price</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let frag of sample.fragrances let i = index">
                                  <td *ngIf="sample.fragrances.length !== 1 && !sample.sold && !sample.returned">
                                    <section>
                                      <mat-checkbox [(ngModel)]="frag.checked" (change)="checkUncheck(frag, sample)" [disabled]="isEmpty(checkedFrags) && id !== sample.uniqueId" [checked]="false"></mat-checkbox>
                                    </section>
                                  </td>
                                    <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <div class="media-body">
                                            <h3 class="media-heading"><strong>{{frag.fragranceName}}</strong></h3>
                                        </div>
                                    </div></td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>Sample Size</strong></td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>{{frag.samplePrice}}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                      <button mat-icon-button [disabled]="(sample.sold || sample.returned) || (isEmpty(checkedFrags) && id === sample.uniqueId)" (click)="openDeleteSampleDialog(frag, sample)" color="warn" type="button">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td><h5> Total Samples:</h5></td>
                                <td><h5>{{sample.totalFragrances}}</h5></td>
                                <td><h5>Total Amount:</h5></td>
                                <td><h5>{{calcOrderTotal(sample)}}</h5></td>
                                <td>
                                <button *ngIf="!sample.returned" [disabled]="sample.sold" (click)="sellReqSample(sample)" type="button" class="btn btn-warning">
                                  <span class="glyphicon glyphicon-thumbs-up"> </span> {{showSoldBtn(sample)}}
                              </button></td>
                              <td>
                                <button *ngIf="(!sample.sold || isEmpty(sample.deletedSamples)) && !isEmpty(sample.deletedSamples)" [disabled]="sample.returned" (click)="returnReqSample(sample)" type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-thumbs-down"> </span> {{showReturnedBtn(sample)}}
                              </button>
                              </td>
                              <td>
                              <button type="button" (click)="printMode(sample.fragrances, sample)" class="btn btn-success">
                                  Print <span class="glyphicon glyphicon-print"></span>
                              </button>
                            </td>
                              <td *ngIf="isEmpty(checkedFrags) && id === sample.uniqueId">
                                <button type="button" (click)="openDeleteCheckedSampleDialog(sample)" [disabled]="sample.fragrances.length === checkedFrags.length" class="btn btn-danger">
                                  Delete Marked <span class="glyphicon glyphicon-trash"></span>
                              </button>
                              </td>
                              </tr>
                            </tfoot>
                        </table>

                        <div *ngIf="isEmpty(sample.deletedSamples)">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th colspan="8" style="text-align: center;font-size: 16px;font-family: cursive; color: teal; background-color: rgb(252, 239, 252);">
                                  Returned Samples 
                              </th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let frag of sample.deletedSamples">
                                <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="media-heading"><strong>{{frag.fragranceName}}</strong></h3>
                                    </div>
                                </div></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>Sample Size</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>{{frag.samplePrice}}</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                      </div>
                    </div>
                </div>


                </mat-card>
                <hr>

              </div>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </div>


      <div *ngIf="showSpinner" style="text-align: center;">
          <app-preloader></app-preloader>
      </div>


      <div *ngIf="showNoSearchResult" class="well" style="margin-top:160px; text-align: center;">
          <mat-card>
            <p style="color: red; font-weight: bold;">Oops !! There are no requested Samples at searched dates</p>
            <button mat-raised-button (click)="getSamplesReqToday()" color="accent">
              Back to today's requested Samples
            </button>
          </mat-card>
        </div>

        <div *ngIf="showNoTodayResult" class="well" style="margin-top:160px; text-align: center;">
          <mat-card>
            <div class="row" style="text-align:center">
              <div class="col-sm-6">
                <mat-form-field class="date-full-width">
                  <input [(ngModel)]="dateFrom" matInput [matDatepicker]="from" placeholder="Search From"
                    #searchFrom="ngModel" required>
                  <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #from></mat-datepicker>
                  <mat-error *ngIf="searchFrom.errors && searchFrom.errors.required">Please choose date to search from
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="col-sm-6">
                <mat-form-field class="date-full-width">
                  <input [(ngModel)]="dateTo" matInput [matDatepicker]="to" placeholder="Search To" #searchTo="ngModel"
                    required>
                  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #to></mat-datepicker>
                  <mat-error *ngIf="searchTo.errors && searchTo.errors.required">Please choose date to search to
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <button (click)="searchDates(dateFrom,dateTo)" [disabled]="searchFrom.errors || searchTo.errors"
              color="accent" mat-raised-button>
              <mat-icon>search</mat-icon> Search Previous Requested Samples
            </button>
          </mat-card>
          
          <mat-card>
            <p style="color: red; font-weight: bold;">Oops !! There are no requested samples yet Today</p>
          </mat-card>
        </div>

        <div *ngIf="print" class="well" style="text-align: center;">

          <div class="" *ngFor="let sample of printArr">

          <mat-card style="margin-bottom: 10px; background: rgb(228, 223, 223); color: rgb(0, 0, 70);
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;">
           <div class="table-responsive">
             <h5>
               {{sample.username}}'s Requested Samples
             </h5>
             <table class="table table-hover">
              <tbody>
                <tr>
                  <td><strong> {{sample.username}}</strong> </td>
                  <td><strong>{{sample.phoneNumber}}</strong></td>
                  <td><strong>{{sample.address}}</strong> </td>
                  <td><strong>{{sample.dateOfRequest | date: 'fullDate'}}</strong></td>
                </tr>
              </tbody>
            </table>
           </div>
          </mat-card>

          <mat-card>
            <div class="row table-responsive">
              <div class="col-sm-12 col-md-6 col-md-offset-3">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th class="table-head col-md-offset-3">Fragrance Name</th>
                              <th class="table-head">Size</th>
                              <th class="table-head">Price</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let frag of sample.fragrances">
                              <td>
                              <div class="media">
                                  <div class="media-body">
                                      <h3 class="media-heading"><strong>{{frag.fragranceName}}</strong></h3>
                                  </div>
                              </div></td>
                              <td class="col-sm-1 col-md-1"><strong>Sample Size</strong></td>
                              <td class="col-sm-1 col-md-1"><strong>{{frag.samplePrice}}</strong></td>
                              <td></td>
                          </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td><h5> Total Fragrances:</h5></td>
                          <td><h5>{{sample.totalFragrances}}</h5></td>
                          <td><h5>Total Amount:</h5></td>
                          <td><h5>{{multiplyTotalAmount()}}</h5></td>
                          <td>
                            <button id="printBtn" type="button" (click)="printOrder()" class="btn btn-success printBtn">
                             Print  <span class="glyphicon glyphicon-print"></span>
                            </button></td>
                          <td> <button id="cancelPrintBtn" type="button" (click)="cancelPrinting()" class="btn btn-warning printBtn">
                            Cancel  <span class="glyphicon glyphicon-cancel"></span>
                           </button></td>
                        </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          </mat-card>
        </div>
        </div>

    </div>
  </div>
