<div class="title">
  <p>Warning !!.. you are confirming to have returned this fragrance.</p>
  <p>Return some quantity of fragrance or leave input empty to return all quantity..</p>
  <hr>
</div>


<form [formGroup]="editOrderForm" method="post">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <input type="text"
               id="fragranceName"
               formControlName="fragranceName"
               placeholder="Fragrance Name"
               matInput
               required
               [(ngModel)]="selectedFrag.fragranceName">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <input type="number" matInput [(ngModel)]="selectedFrag.quantity" formControlName="quantity" placeholder="Quantity">
        <!-- <mat-error *ngIf="checkIfInputIsvalid(selectedFrag.quantity) !== selectedFrag.quantity">U cant do This</mat-error> -->
      </mat-form-field>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
       <mat-select required value="selectedFrag.bottleSize" [(ngModel)]="selectedFrag.bottleSize" formControlName="bottleSize">
         <mat-option value="Sample Size">Sample Size</mat-option>
         <mat-option value="Medium Size">Medium Size</mat-option>
         <mat-option value="Big Size">Big Size</mat-option>
       </mat-select>
       <mat-error *ngIf="editOrderForm.get('bottleSize').invalid">Please enter bottle size.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input required matInput type="number" [(ngModel)]="selectedFrag.price" formControlName="price" placeholder="price">
          <mat-error *ngIf="editOrderForm.get('price').invalid">Please enter price.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <hr>

    <button class="right" name="editBtn" mat-button (click)="update()" color="primary">{{showDeleteBtn(selectedFrag)}}</button>
    <button class="left" name="deleteBtn" mat-raised-button (click)="closeEditDialog()" color="warn">Cancel</button><br>
</form>


