<nav class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="onToggleMenu()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  href="">{{ title }}</a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'toggleMenuStyle' : toggleMenu === true }">

        <ul class="nav navbar-nav navbar-right">
           
            <li>
                <a [routerLink]="['/orders-for-dispatch']" routerLinkActive="active" (click)="onToggleMenu()"> <span class="fa fa-shopping-basket" style="color: rgb(235, 5, 204);"></span> Customer's Orders </a>
            </li>

            <li>
              <a [routerLink]="['/reqSamples-for-dispatch']" routerLinkActive="active" (click)="onToggleMenu()"> <span class="fa fa-shopping-bag" style="color: rgb(235, 5, 204);"></span> Samples Requested </a>
          </li>

            <!-- <li>
                <a [routerLink]="['/orders-for-dispatch']" [routerLinkActive]="['active']" (click)="onToggleMenu()"><span class="fa fa-info-circle" style="color: rgb(235, 5, 204);"></span> Customer's Details</a>
            </li> -->

          <!-- <li>
            <a [routerLink]="['/orders-for-dispatch']" [routerLinkActive]="['active']" (click)="onToggleMenu()"><span class="fa fa-database" style="color: rgb(235, 5, 204);"></span> Fragrances</a>
        </li> -->
        <li>
                <a [routerLink]="['/sign-in']" [routerLinkActive]="['active']" (click)="logout()"><span class="fa fa-sign-out" style="color: red;"></span> Sign Out</a>
            </li>
        </ul>
    </div>
  </div>
</nav>

