<!-- <app-auth-nav></app-auth-nav> -->

<div class="title">
  <h2> <strong>100% Fragrance Mobile App Customer Service Platform</strong> </h2>
</div>


<div class="card">

<div class="card-body">
  <form class="form" name="loginform" #signInForm="ngForm" novalidate>
      
          <p class="link"> <strong>Please Sign in</strong> </p>

      <div class="form-group">
          <label for="email">Email address </label>
          <input name="email" type="email" class="form-control input-md" id="email" aria-describedby="email"
          required [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="email" #email="ngModel">
          <p class="error" [hidden]="email.valid || email.untouched">
            Must be a valid Email
          </p>
        </div>
      

      <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control input-md" id="password" placeholder="********"
          required [(ngModel)]="user.password" minlength="8" #password="ngModel">
          <p class="error" [hidden]="password.valid || password.untouched">
            Password must be at least 8 characters.
          </p>
        </div>
      

      <div class="form-group">
          <p class="link"><strong>or </strong><a routerLink='/registration'>Sign up</a></p>
      </div>


      <div *ngIf="verifying" id="loader" class="preloader-2">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
        <span class="line line-4"></span>
        <span class="line line-5"></span>
        <span class="line line-6"></span>
        <span class="line line-7"></span>
        <span class="line line-8"></span>
        <span class="line line-9"></span>
        <span class="line line-10"></span>
        <span class="line line-11"></span>
        <span class="line line-12"></span>
        <p>Verifying Status...</p>
      </div>

      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="signIn(signInForm)" [disabled]="!signInForm.form.valid">Submit</button>
  </form>

</div>
</div>